<!DOCTYPE html>

<head>
<meta charset="utf=8">    
<title>Facemask Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anuphan:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>
    
    

<div class="logo">
   <img src="{{ url_for('static', filename='Facemask logo.png') }}">
</div>
    

<ul class="nav-area">
    <form action="{{ url_for('detect') }}">
        <button class="get_started-button">
            Get Started
        </button>
    </form>
</ul>

       
</body>




</html>